@import "variable";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    // background-image: url("/images/bg-pattern-desktop.svg");
}

body{
    width: 100%;
    height: 90vh;
    background-image: url("/images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: 65%;


}

.landing-page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content{
    width: 100%;
    padding-left: 200px;
    padding-top: 70px;
}

.background{
    background-image: url("/images/hero-desktop.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 70%;
}

.heading{
    margin-top: 80px;
    font-size: 40pt;
}

.light-font{
    color: $desaturated-red;
    font-weight: 200;
    letter-spacing: 18px;
}

.heavy-font{
    font-weight: 600;
    letter-spacing: 18px;
}

.paragraph{
    width: 400px;
    color: $desaturated-red;
    padding-top: 50px;
    font-size: 16px;
    line-height: 25px;
}

.email-address{
    display:flex;
    align-items: center;
}

.email-address input{
    padding: 15px;
    width: 400px;
    border: 1px;
    border-style:solid;
    border-radius: 50px;
    border-color: $dark-grayish-red;  
    margin-top: 40px;
}

.email-address input:focus{
    outline: none;
}

.email-address input:focus{
    border-radius: 50px;
    border: 1px, solid, $dark-grayish-red
}

.arrow-button{
    background-image: linear-gradient(to right, $desaturated-red, $soft-red);
    border: None;
    padding: 10px 30px 10px 30px;
    border-radius: 60px;
    height: 50px;
    margin-top: 38px;
    margin-left: -40px;
    box-shadow: -1px, 1px, 5px, $dark-grayish-red;
}

.arrow-button:focus{
    border: None;
    border-color: None;
}

#error-icon{
    margin-right: -20px;
}

.error-message{
    font-size: small;
    color: $soft-red;
    padding: 8px 0px 0px 15px;
}

:focus{
    border: None;
    border-color: None
}

@media only screen and (max-width:420px){
    body{
        background-image: url("/images/bg-pattern-desktop.svg");
        background-repeat: no-repeat;
        background-size: 400%;
    }
    .landing-page{
        display: flex;
        flex-direction: column;
    }

    .content{
        padding: 0;
    }

    .content a img{
        padding: 20px 0px 20px 20px;
    }

    .background{
        background-image: None;
        width: 0;
        height: 0;
    }

    .mobile{
        background-image: url("/images/hero-mobile.jpg");
        width: 100%;
        height: 50vh;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .heading{
        margin-top: 20px;
        text-align: center;
        font-size: 30pt;
    }

    .paragraph{
        text-align: center;
        width: fit-content;
        padding: 20px;
    }

    .email-address{
        margin: 0px 20px 0px 20px;
    }

    .email-address input{
        background-color: transparent;
    }

    .error-message{
        padding: 5px 0px 0px 40px;
    }
}